.container-main-exclusiveVideo {
  &-title {
    padding: 0 24px;
    margin-bottom: 24px;
    h3 {
      font-size: 32px;
      color: #f5c518;
    }
  }

  &-orginal {
    width: 100%;
    padding: 24px 0;
    margin-bottom: 8px;

    &-title {
      margin: 0 0 16px;
      padding: 0 24px;

      h3 {
        cursor: pointer;
        padding: 0 0 0 12px;
        font-size: 24px;
        color: #ffffff;
        border-left: 4px solid #f5c518;

        span {
          font-size: 10px;
          padding: 4px 7px;
          margin-left: 9px;
        }
      }

      p {
        color: #ffffffb3;
        font-size: 16px;
        padding: 8px 0 0;
        cursor: pointer;
      }
    }

    &-container {
      display: grid;
      grid-template-columns: auto auto auto;
      padding: 0 24px;

      &-interview {
        display: flex;
        flex-direction: column;

        &-img {
          position: relative;

          img {
            width: 100%;
          }
        }

        &-info {
          display: flex;
          padding: 12px 0 0;

          &-title {
            margin-bottom: 8px;

            h3 {
              font-size: 16px;
              font-weight: 550;
              color: #ffffff;
            }

            h3:hover {
              text-decoration: underline;
            }
          }
        }
      }
      &-interview:not(:last-child) {
        padding-right: 24px;
      }
    }
  }
}
