.container-main-whatToWatch-other {
  margin: 24px 40px;
  h1 {
    border-left: 4px solid #f5c518;
    border-radius: 3px;
    color: #fff;
    padding-left: 10px;
  }
  p {
    font-size: 16px;
    color: #ffffffb3;
    padding-top: 8px;
  }

  .altro {
    display: flex;
    margin-top: 20px;

    .pulsante {
      border: 2px solid #fff;
      border-radius: 5px;
      height: 32px;
      width: 296px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 24px;

      a {
        color: #fff;
        padding: 0px 16px;
        border-radius: 4px;
        text-decoration: none;
      }
    }
    .pulsante:hover {
      background: #1a1a1a;
      a {
        background: #1a1a1a;
      }
    }
  }
}
