@import "./trailers";
@import "./explore";
@import "./navbar";
@import "./footer";
@import "./exclusiveVideo";
@import "./streaming";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, Helvetica, Arial, sans-serif;
}


